<main class="content">
            <aside class="filter-equipment">
                
                
                <form id="search-p-t" method='GET' action='/equipment'>
                    <h2>Equipment</h2>
                    <label for="productTypeFilter">Filter by Product Type:</label>
                    <select id="productTypeFilter">

                        <option value="">All</option>
                        {{#each ptData}}
                        <option name = "filter-user-drop" value="{{this.typeDescription}}">{{this.typeDescription}}</option>
                        {{/each}}
                        
                    </select>

                    <input type="submit" value = "Filter!">
                </form>

                <p>&nbsp;</p>

                <div class="table-contents">
                    <table border="5" cellpadding="10" id="equipment-table">
                        

                        <!-- This is for the first row, print the keys -->
                        <thead>

                            
                            <tr>
                                {{#each data.[0]}}
                                    <th>
                                        {{@key}}

                                    </th>
                                {{/each}}
                                <th>Deletes</th>
                            </tr>
                            
                        </thead>

                        <!-- Body section -->
                        <tbody>

                            {{#each data}}
                            <tr data-value={{this.equipmentID}}>
                                <td>{{this.equipmentID}}</td>
                                <td>{{this.equipmentName}}</td>
                                <td>{{this.equipmentDescription}}</td>
                                <td>{{this.equipmentCost}}</td>
                                <td>{{this.equipmentStock}}</td>
                                <td>{{this.productTypeID}}</td>
                                <td><button onclick="deleteEquipment({{this.equipmentID}})">Delete</button></td>
                            </tr>
                            {{/each}}

                        </tbody>







                    </table>
                    <script src="./js/equipment/delete_equipment.js"></script>
            
                </div>
            </aside>

        </main>

        <p>&nbsp;</p> <!-- WHITE SPACE-->

        <!-- browse -->
        <div class="add-equipment-content">
            <div id="insert">
                <form id="add-equipment-form-ajax" class="addEquipment">
                    <legend><strong>Add Equipment</strong></legend>

                    <div class="add-equipment-container">
                        <label for="filter-text" class="filter-input-label">Equipment Name</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-eName" id="input-eName" class="filter-input">
                        </div>
                    </div>

                    <div class="add-equipment-container">
                        <label for="filter-text" class="filter-input-label">Equipment Description</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-eDesc" id="input-eDesc" class="filter-input">
                        </div>
                    </div>

                    <div class="add-equipment-container">
                        <label for="filter-text" class="filter-input-label">Cost</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-cost" id="input-cost" class="filter-input">
                        </div>
                    </div>

                    <div class="add-equipment-container">
                        <label for="filter-text" class="filter-input-label">Stock</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-stock" id="input-stock" class="filter-input">
                        </div>
                    </div>

                    <div class="add-equipment-container">
                        <label for="filter-text" class="filter-input-label">Product Type</label>
                        <div class="filter-input-element">
                            
                           
                            <select id="PTSelect" class="filter-input" name="filter-user">

                                <option value="">Choose a Product Type</option>
                                {{#each ptData}}
                                <option name = "filter-user-drop" value="{{this.productTypeID}}">{{this.typeDescription}}</option>
                                {{/each}}
                                
                            </select>
                        </div>
                    </div>

                    <input class="btn" type="submit" id="AddEquipment" value="Add New Equipment">
                    <input class="btn" type="button" value="Cancel">
                </form>

                <script src="./js/equipment/add_equipment.js"></script>

            </div>
        </div>

        <p>&nbsp;</p> <!-- WHITE SPACE-->


        <div id="update" style="display: block">
            <form class="updateEquipment">
                <legend><strong>Update Equipment</strong></legend>
                    <div class="update-equipment-container">
                        <label for="filter-user" class="filter-input-label">Equipment</label>
                        <div class="filter-input-element">
                            <select id="filter-user" class="filter-input" name="filter-user">
                            <option selected value="">Choose a number</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            </select>
                        </div>
                    </div>  

                    <div class="update-equipment-container">
                        <label for="filter-text" class="filter-input-label">Equipment Name</label>
                        <div class="filter-input-element">
                            <input type="text" name="filter-text" id="filter-text" class="filter-input">
                        </div>
                    </div>

                    <div class="update-equipment-container">
                        <label for="filter-text" class="filter-input-label">Description</label>
                        <div class="filter-input-element">
                            <input type="text" name="filter-text" id="filter-text" class="filter-input">
                        </div>
                    </div>

                    <div class="update-equipment-container">
                        <label for="filter-text" class="filter-input-label">Cost</label>
                        <div class="filter-input-element">
                            <input type="text" name="filter-text" id="filter-text" class="filter-input">
                        </div>
                    </div>

                    <div class="update-equipment-container">
                        <label for="filter-text" class="filter-input-label">Stock</label>
                        <div class="filter-input-element">
                            <input type="text" name="filter-text" id="filter-text" class="filter-input">
                        </div>
                    </div>
              
                <input class="btn" type="submit" id="UpdateEquipment" value="Update Equipment">
                <input class="btn" type="button" value="Cancel" >
            </form> 
        </div><!-- update -->

        <p>&nbsp;</p> <!-- WHITE SPACE-->
        <p>&nbsp;</p> <!-- WHITE SPACE-->

     