
<main class="content">
    <aside class="filter-equipment">
        <h2>Order</h2>


        <p>&nbsp;</p>

        <div class="table-contents">
            <table border="5" cellpadding="10" id="order-table">
                
                <thead>

                    {{!-- HBS Code is taken from NodeJS Starter App  --}}
                    <tr>
                        {{#each data.[0]}}
                            <th>
                                {{@key}}

                            </th>
                        {{/each}}
                        <th>Deletes</th>
                    </tr>
                    
                </thead>


                    <!-- Body section -->
                <tbody>

                    {{#each data}}
                    <tr data-value={{this.orderID}}>
                        <td>{{this.orderID}}</td>
                        <td>{{this.userID}}</td>
                        <td>{{this.orderDate}}</td>
                        <td>{{this.numItems}}</td>
                        <td>{{this.totalCost}}</td>
                        <td><button onclick="deleteOrder({{this.orderID}})">Delete</button></td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <script src="./js/orders/delete_order.js"></script>

        </div>
    </aside>
</main>



        <p>&nbsp;</p> <!-- WHITE SPACE-->

        <div class="add-order-content">
            <div id="insert" style="display: block">
                <form id="add-order-form-ajax" class="addOrder">
                    <legend><strong>Initialize Order</strong></legend>

                    <div class="add-order-container">
                        <label for="filter-user" class="filter-input-label">User ID</label>
                        <div class="filter-input-element">
                            <select id="order-select-UID" class="filter-input" name="filter-user">
                                <option selected value="">Choose a number</option>
                                {{#each uID}}
                                <option name = "delete-order-drop" value="{{this.userID}}">{{this.userID}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>  
                    
                    <div class="add-order-container">
                        <label for="filter-text" class="filter-input-label">Order Date</label>
                        <div class="filter-input-element">
                            <input type="date" name="input-date" id="input-date" class="filter-input">
                        </div>
                    </div>


                    <input class="btn" type="submit" id="" value="Add New Order">
                    <input class="btn" type="button" value="Cancel">
                </form>
                <script src="./js/orders/add_order.js"></script>

            </div>
        </div>

        <p>&nbsp;</p> <!-- WHITE SPACE-->

        <p>&nbsp;</p> <!-- WHITE SPACE-->

