<main class="content">
            <aside class="filter-equipment">
                <h2>Reviews</h2>

                <div class="table-contents">
                    <table border="5" cellpadding="10" id="review-table">
                        
                        <thead>

                            
                            <tr>
                                {{#each data.[0]}}
                                    <th>
                                        {{@key}}

                                    </th>
                                {{/each}}
                                <th>Deletes</th>
                            </tr>
                            
                        </thead>

                        <!-- Body section -->
                        <tbody>

                            {{#each data}}
                            <tr data-value={{this.reviewID}}>
                                <td>{{this.reviewID}}</td>
                                <td>{{this.userID}}</td>
                                <td>{{this.equipmentID}}</td>
                                <td>{{this.reviewDescription}}</td>
                                <td>{{this.stars}}</td>
                                <td><button onclick="deleteReview({{this.reviewID}})">Delete</button></td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                    <script src="./js/review/delete_review.js"></script>

                </div>
            </aside>
        </main>


        <p>&nbsp;</p> <!-- WHITE SPACE-->

        <div id="insert" style="display: block">
            <form id="add-review-form-ajax" class="addReview">
                <legend><strong>Add Review</strong></legend>
                    <div class="add-review-container">
                        <label for="add-review" class="filter-input-label">User</label>
                        <div class="filter-input-element">

                            <select id="userSelect" class="filter-input" name="filter-user">

                                <option selected value="">Choose a user ID</option>
                                {{#each user}}
                                <option name = "add-user-drop" value="{{this.userID}}">{{this.userID}}</option>
                            {{/each}}

                            </select>
                        </div>
                    </div>  

                    <div class="add-review-container">
                        <label for="filter-user" class="filter-input-label">Equipment</label>
                        <div class="filter-input-element">

                            <select id="equipmentSelect" class="filter-input" name="filter-user">

                                <option selected value="">Choose an equipment</option>
                                {{#each equip}}
                                <option name = "add-equipment-drop" value="{{this.equipmentID}}">{{this.equipmentName}}</option>
                            {{/each}}

                            </select>
                        </div>
                    </div>  

                    <div class="add-review-container">
                        <label for="filter-text" class="filter-input-label">Review Description</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-review" id="input-review" class="filter-input">
                        </div>
                    </div>

                    <div class="add-review-container">
                        <label for="filter-text" class="filter-input-label">Stars</label>
                        <div class="filter-input-element">
                            <select id="stars-select" class="filter-input" name="filter-user">
                                {{!-- <option selected value="">Choose a number</option> --}}
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
              
                <input class="btn" type="submit" id="AddReview" value="Add Review">
                
            </form> 
            <script src="./js/review/add_review.js"></script>
        </div><!-- update -->

        <p>&nbsp;</p> <!-- WHITE SPACE-->

        {{!-- <div class="delete-review-content">
            <div id="delete" style="display: block">
                <form class="deleteReview">
                    <legend><strong>Delete Product Type</strong></legend>
                        <div class="delete-review-container">
                            <label for="filter-user" class="filter-input-label">User ID</label>
                            <div class="filter-input-element">
                                <select id="filter-user" class="filter-input" name="filter-user">
                                <option selected value="">Choose a number</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                </select>
                            </div>
                        </div>  
                    <input class="btn" type="submit" id="DeleteReview" value="Delete Review">
                    <input class="btn" type="button" value="Cancel" >
                </form>  
            </div><!-- delete -->
        </div> --}}



        <p>&nbsp;</p> <!-- WHITE SPACE-->
        <p>&nbsp;</p> <!-- WHITE SPACE-->