<main class="content">
            <aside class="filter-equipment">
                <h2>Users</h2>

                
                <h3>Filter Name</h3>
                <form id="search-fname" method='GET' action='/users'>
                    <label for="input-fName">Search by First name:</label>
                    <input type="text" id="input-fname-search" name="fname" placeholder="Type first name...">
                   

                    <input type="submit" value = "Search First Name!">
                    <a href='/users'><button>Reset</button></a>
                </form>

                <div id="searchResults"></div>


                <p>&nbsp;</p>

                <div class="table-contents">
                    
                    <table border="5" cellpadding="10" id="users-table">

                        <!-- This is for the first row, print the keys -->
                        {{!-- HBS Code is taken from NodeJS Starter App --}}
                        <thead>

                            
                            <tr>
                                {{#each data.[0]}}
                                    <th>
                                        {{@key}}

                                    </th>
                                {{/each}}
                                
                            </tr>
                            
                        </thead>

                        <!-- Body section -->
                        <tbody>

                            {{#each data}}
                            <tr data-value={{this.userID}}>
                                <td>{{this.userID}}</td>
                                <td>{{this.firstName}}</td>
                                <td>{{this.lastName}}</td>
                                <td>{{this.address}}</td>
                                <td>{{this.phoneNumber}}</td>
                                <td>{{this.email}}</td>
                                <td><button onclick="deleteUser({{this.userID}})">Delete</button></td>
                            </tr>
                            {{/each}}

                        </tbody>
                        
                    </table>
                    <script src="./js/users/delete_user.js"></script>


                </div>
            </aside>
        </main>

        <p>&nbsp;</p> <!-- WHITE SPACE-->

        <!-- Add User -->
        <div class="add-user-content">
            <div id="insert">


                <form id="add-user-form-ajax" class="addUser">
                    <legend><strong>Add User</strong></legend>

                    <div class="add-user-container">
                        <label for="filter-text" class="filter-input-label">First Name</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-fName" id="input-fName" class="filter-input">
                        </div>
                    </div>

                    <div class="add-user-container">
                        <label for="filter-text" class="filter-input-label">Last Name</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-lName" id="input-lName" class="filter-input">
                        </div>
                    </div>

                    <div class="add-user-container">
                        <label for="filter-text" class="filter-input-label">Address</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-address" id="input-address" class="filter-input">
                        </div>
                    </div>

                    <div class="add-user-container">
                        <label for="filter-text" class="filter-input-label">Phone Number</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-pNumber" id="input-pNumber" class="filter-input">
                        </div>
                    </div>

                    <div class="add-user-container">
                        <label for="filter-text" class="filter-input-label">Email</label>
                        <div class="filter-input-element">
                            <input type="text" name="input-email" id="input-email" class="filter-input">
                        </div>
                    </div>

                    <input class="btn" type="submit" id="addUserSave" value="Add New User">
                    <input class="btn" type="button" value="Cancel">
                </form>

                <script src="./js/users/add_user.js"></script>


            </div>
        </div>
        <p>&nbsp;</p> <!-- WHITE SPACE-->



        <!-- Update User -->
        <div class="update-user-content">
            <div id="update" >
                <form class="updateUser" id="update-user-form-ajax">
                    <legend><strong>Update Email</strong></legend>
                       

                        <div class="update-user-container">
                            <label for="filter-user" class="filter-input-label">User</label>
                            <div class="filter-input-element">
                                <select id="IDSelect" class="filter-input" name="filter-user">
                                    <option selected value="">Choose a user ID</option>
                                    {{#each users}}
                                    <option name = "delete-user-drop" value="{{this.userID}}">{{this.userID}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>  

                        <div class="update-user-container">
                            <label for="filter-text" class="filter-input-label">Email</label>
                            <div class="filter-input-element">
                                <input type="text" name="update-email" id="update-email" class="filter-input">
                            </div>
                        </div>
                    <input class="btn" type="submit" id="UpdateUserSave" value="Update User">
                    <input class="btn" type="button" value="Cancel" >
                </form> 

                <script src="./js/users/update_user.js"></script>
            </div>
        </div>

        <p>&nbsp;</p> <!-- WHITE SPACE-->
        <p>&nbsp;</p> <!-- WHITE SPACE-->
        <p>&nbsp;</p> <!-- WHITE SPACE-->

<!-- Embed javascript to handle DOM manipulation and AJAX request  -->
<!-- <script src="./add_user.js" -->




